<nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-custom">
    <div class="navbar-nav nav-fill w-100">
        <a [routerLink]="'/top-games'" [routerLinkActive]="'active'" class=" nav-item nav-link" href="#">Top Games</a>
        <a [routerLink]="'/new-games'" [routerLinkActive]="'active'" class=" nav-item nav-link" href="#">New Games</a>
        <a [routerLink]="'/slots'" [routerLinkActive]="'active'" class=" nav-item nav-link" href="#">Slots</a>
        <a [routerLink]="'/jackpots'" [routerLinkActive]="'active'" class=" nav-item nav-link" href="#">Jackpots</a>
        <a [routerLink]="'/live'" [routerLinkActive]="'active'" class=" nav-item nav-link" href="#">Live</a>
        <a [routerLink]="'/blackjack'" [routerLinkActive]="'active'" class=" nav-item nav-link" href="#">Blackjack</a>
        <a [routerLink]="'/roulette'" [routerLinkActive]="'active'" class=" nav-item nav-link" href="#">Roulette</a>
        <a [routerLink]="'/table'" [routerLinkActive]="'active'" class=" nav-item nav-link" href="#">Table</a>
        <a [routerLink]="'/poker'" [routerLinkActive]="'active'" class=" nav-item nav-link" href="#">Poker</a>
        <a [routerLink]="'/other'" [routerLinkActive]="'active'" class=" nav-item nav-link" href="#">Other</a>
    </div>
</nav>
